html {
height: 100%;
font-size: 100%;
}


.rooms-container{
  background-color: lightblue;
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
  text-align: left;

}

.room-messages-container{
    background-color: lightgray;
    margin-left: 170px;
    border-left: 5px solid gray;
    padding: 1em;
}

.send-messages-container{
  position: fixed;
  bottom: 0;
  width: 1200px;
}
