<nav>
    <h1> Bloc Chat </h1>
</nav>

<div class="rooms-container">
    <ol>
        <li ng-repeat="r in room.rooms" ng-click="room.activateRoom(r)">{{r.name}}</li>
    </ol>
    <ng-include src="'/templates/NewRoom.html'"></ng-include>
</div>

<div class = "room-messages-container">
      <h3>{{room.activeRoom.name}}</h3>
      <ul>
          <li ng-repeat="message in room.messages">{{message.content}} </li>
      </ul>
</div>

<div class = "send-messages-container">
  <form class="form-horizontal">
      <div class="col-sm-10">
        <input type="message" class="form-control" id="message" placeholder="Type your message here" ng-model="newMessage">
      </div>
      <button type="button" class="btn btn-send" ng-click="room.sendMessages(newMessage)">Send</button>

</div>
